@model IEnumerable<Lawyers.Contract.Entities.NewsModel>

@{
    ViewBag.Title = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h3><strong>Noticias</strong></h3>


<table class="w3-table-all w3-margin-bottom">
    <thead>
        <tr class="w3-green">
            <th>
                @Html.DisplayNameFor(model => model.NewsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                <i class="material-icons w3-medium"><strong>edit</strong></i>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                <i class="material-icons w3-medium w3-text-red"><strong>close</strong></i>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })           
            </td>
        </tr>
    }

</table>

<p>
    <a class="w3-btn w3-white w3-border w3-round-large w3-border-green w3-text-green" href="~/News/Create">
        <i class="material-icons w3-medium w3-text-green"><strong>add</strong></i><strong> Agregar</strong>
    </a>
</p>
