@model Lawyers.Contract.Entities.ClientModel

@{
    ViewBag.Title = "Create";

    List<SelectListItem> ListaTiposDoc = new List<SelectListItem>();
    foreach (var e in ViewBag.DocType)
    {
        SelectListItem newItem = new SelectListItem() { Text = e.DocType.ToString(), Value = e.DocTypeId.ToString() };
        ListaTiposDoc.Add(newItem);
    }
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(model => model.ClientId)
        <div class="w3-container w3-green">
            <h2>Datos Personales</h2>
        </div>
        <hr />
        <h3 class="text-danger">@Html.Raw(ViewBag.Errores)</h3>
        <form>
            <fieldset>
                <legend></legend>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="model.Name">Nombre</label>
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-2">
                        <label for="model.LastName">Apellido</label>
                        @Html.EditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label for="model.DocType">Tipo Documento</label>
                        @Html.DropDownListFor(model => model.DocType.DocTypeId, ListaTiposDoc, "Seleccione el Tipo")
                        @Html.ValidationMessageFor(model => model.DocType.DocTypeId)
                    </div>
                    <div class="col-md-1"> </div>
                    <div class="col-md-3">
                        <label for="model.DocNumber">Numero de Documento</label>
                        @Html.EditorFor(model => model.DocNumber)
                        @Html.ValidationMessageFor(model => model.DocNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="model.BirthDate">Fecha de Nacimiento</label>
                        @Html.EditorFor(model => model.BirthDate)
                        @Html.ValidationMessageFor(model => model.BirthDate)
                    </div>
                    <div class="col-md-1"> </div>
                    <div class="col-md-3">
                        <label for="model.Genre">Género</label>
                        @Html.EditorFor(model => model.Genre)
                        @Html.ValidationMessageFor(model => model.Genre)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="model.PhoneNumber">Teléfono</label>
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                    <div class="col-md-1"> </div>
                    <div class="col-md-2">
                        <label for="model.Nationality">País</label>
                        @Html.EditorFor(model => model.Nationality)
                        @Html.ValidationMessageFor(model => model.Nationality)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="model.Province">Provincia</label>
                        @Html.EditorFor(model => model.Province)
                        @Html.ValidationMessageFor(model => model.Province)
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-2">
                        <label for="model.City">Ciudad</label>
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="model.Description">Descripción</label>
                        @Html.TextAreaFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <h1></h1>
                <div class="form-group">
                    <div class="col-md-3">
                        <strong><input type="submit" value="Guardar" class="w3-btn w3-white w3-border w3-round-large w3-border-green w3-text-green" /></strong>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}
<p>
    <a class="w3-btn w3-white w3-border w3-round-large w3-border-green w3-text-green col-lg-offset-11 w3-margin-top" href="~/Person/Index">
        <i class="material-icons w3-medium w3-text-green"><strong>arrow_back</strong></i><strong> Volver</strong>
    </a>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
