<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="w3-hover-green"
                @if (Roles.IsUserInRole(WebSecurity.CurrentUserName,"Clients"))
                {
                    @Html.ActionLink("Mi Perfil", "Edit", "Client", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
                else
                {   
                    
                    @Html.ActionLink("Mi Perfil", "Edit", "Person", routeValues: null, htmlAttributes: new { title = "Manage" })                    
                }
                
                   
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="w3-hover-green">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <i class="material-icons w3-xxxlarge">person</i>
        <li><a class="w3-hover-green" @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a class="w3-hover-green" @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
